{% extends "base.html" %}
{% load crispy_forms_tags %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }}</h1>
<hr/>

<form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
{{ form|crispy }}
<select style="height: 40px;" id="colors">
        <option value="1">IGDTUW</option>
        <option value="2">Bhaskaracharya College of Applied Science</option>
        <option value="3">DUCS</option>
        <option value="4">NIT Jaipur</option>
        <option value="5">NIT Bhopal</option>
</select>
      <!-- <a class="dropdown-item" href="#">IGDTUW</a><br>
      <a class="dropdown-item" href="#">Bhaskaracharya College of Applied Science</a><br>
      <a class="dropdown-item" href="#">DUCS</a><br>
      <a class="dropdown-item" href="#">DUCS</a><br>
      <a class="dropdown-item" href="#">NIT Bhopal</a><br> -->
<br>
<br>
<input type='submit' class='btn btn-default' value='{{ title }}' />
</form>
</div>
{% endblock content %}
<script type="text/javascript">
    function change() {
        var eID = document.getElementById("dropdownMenuButton");
        var colorVal = eID.options[eID.selectedIndex].value;
        var colortxt = eID.options[eID.selectedIndex].text;
        document.getElementById('colorDiv').style.background=colortxt;
    }
</script>